.frame-child {
  align-self: stretch;
  height: 1080px;
  position: relative;
  background-color: var(--color-lightsteelblue);
  display: none;
}
.anesi,
.image-8-icon {
  position: relative;
  z-index: 1;
}
.image-8-icon {
  height: 96px;
  width: 85px;
  object-fit: cover;
}
.anesi {
  align-self: stretch;
  height: 73px;
  display: inline-block;
  flex-shrink: 0;
}
.anesi-wrapper,
.image-8-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.anesi-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.image-8-parent {
  width: 354px;
  height: 96px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 21px;
  max-width: 100%;
}
.div,
.image-1-icon {
  position: absolute;
  z-index: 1;
}
.div {
  top: 25px;
  left: 96px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 163px;
  height: 68px;
}
.image-1-icon {
  top: 26px;
  left: 32px;
  width: 53px;
  height: 59px;
  object-fit: cover;
}
.frame-item,
.image-1-parent {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-item {
  border-radius: var(--br-19xl);
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.image-1-parent {
  width: 341px;
  height: 85px;
}
.parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 93px;
  position: relative;
}
.div1,
.image-2-icon {
  position: absolute;
  z-index: 1;
}
.div1 {
  top: 16px;
  left: 91px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 184px;
  height: 70px;
}
.image-2-icon {
  top: 21px;
  left: 21px;
  width: 57.4px;
  height: 59px;
  object-fit: cover;
}
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-19xl);
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 86px;
  position: relative;
}
.frame-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2px;
  max-width: 100%;
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs-5) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-div {
  align-self: stretch;
  width: 336px;
  position: relative;
  border-radius: var(--br-19xl);
  background-color: var(--color-gainsboro);
  max-width: 112%;
  flex-shrink: 0;
  z-index: 2;
}
.image-5-icon {
  width: 59.5px;
  height: 59px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.february-box {
  height: 73px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  max-width: 127%;
  flex-shrink: 0;
  margin-left: -312px;
}
.div2 {
  align-self: stretch;
  height: 72px;
  position: relative;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.april-box,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.april-box {
  width: 208px;
  flex-direction: column;
  padding: var(--padding-sm) 0 0;
  margin-left: -312px;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0 37px 0 0;
  background-color: transparent;
  flex: 1;
  flex-direction: row;
}
.frame-div,
.image-3-icon,
.rectangle-group {
  align-self: stretch;
  max-width: 100%;
}
.frame-div {
  height: 86px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs-5) 0 var(--padding-8xs);
  box-sizing: border-box;
}
.image-3-icon {
  flex: 1;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.image-3-wrapper {
  align-self: stretch;
  width: 53.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.div3 {
  height: 63px;
  width: 217px;
  position: relative;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-19xl);
  background-color: var(--color-gainsboro);
  z-index: 2;
}
.frame-button,
.frame-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) 22.5px var(--padding-4xs);
  background-color: transparent;
  width: 336px;
  height: 86px;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  gap: 10.7px;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-xl);
}
.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 20.5px 207.1px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.div4,
.image-4-icon {
  position: absolute;
  top: 19.9px;
  z-index: 1;
}
.div4 {
  left: 81px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 263px;
  height: 75px;
}
.image-4-icon {
  left: 14px;
  width: 54px;
  height: 59px;
  object-fit: cover;
}
.frame-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-19xl);
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.image-4-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 336px;
  height: 86px;
}
.container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 94.9px;
  position: relative;
}
.div5,
.image-6-icon {
  position: absolute;
  top: 26px;
  z-index: 1;
}
.div5 {
  left: 81px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 217px;
  height: 60px;
}
.image-6-icon {
  left: 17px;
  width: 56.6px;
  height: 59px;
  object-fit: cover;
}
.frame-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-19xl);
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.parent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 336px;
  height: 86px;
  position: relative;
  max-width: 100%;
}
.frame-parent1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  max-width: 100%;
}
.frame-wrapper1,
.rectangle-parent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xs) 0 var(--padding-mini);
}
.rectangle-parent {
  width: 366px;
  background-color: var(--color-lightsteelblue);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  gap: 97px;
}
.div6 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.wrapper {
  width: 584px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.image-7-icon {
  position: absolute;
  width: calc(100% - 16.8px);
  top: 3px;
  right: 8.3px;
  left: 8.5px;
  max-width: 100%;
  overflow: hidden;
  height: 59px;
  object-fit: cover;
}
.month-label {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-19xl);
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.image-7-parent {
  position: absolute;
  height: calc(100% - 18px);
  top: 7px;
  bottom: 11px;
  left: 0;
  width: 69px;
}
.div7,
.good-morning {
  position: absolute;
  top: 10px;
}
.div7 {
  height: calc(100% - 22px);
  left: 88.5px;
  display: inline-block;
  width: 322px;
  white-space: nowrap;
}
.good-morning {
  width: calc(100% - 17px);
  right: 9px;
  left: 8px;
  border-radius: 50%;
  background-color: var(--color-lightsteelblue);
  height: 69px;
}
.setting-panel-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-19xl);
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.setting-panel {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 355.5px;
  width: 86px;
}
.frame-parent3 {
  height: 87px;
  width: 441.5px;
  position: relative;
  max-width: 100%;
}
.frame-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.may-label {
  height: 32px;
  width: 132px;
  position: absolute;
  margin: 0 !important;
  bottom: -7px;
  left: -21px;
  border-radius: var(--br-19xl);
  background-color: var(--color-lavender);
}
.april-label,
.div8 {
  flex: 1;
  position: relative;
}
.div8 {
  font-size: var(--font-size-5xl);
  line-height: 25px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.april-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.months-selector {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-19xl);
  background-color: var(--color-gainsboro);
  z-index: 2;
}
.march-label {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) 8px var(--padding-mini) 32px;
  background-color: transparent;
  flex: 0.7351;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.div9 {
  position: absolute;
  top: 0;
  left: 35px;
  display: inline-block;
  width: 119px;
  height: 26px;
  z-index: 1;
}
.frame-child4,
.frame-child5 {
  position: absolute;
  top: 1px;
  left: 9px;
  border-radius: var(--br-19xl);
  background-color: var(--color-lavender);
  width: 132px;
  height: 32px;
}
.frame-child5 {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 33px;
}
.year-range {
  align-self: stretch;
  height: 33px;
  position: relative;
}
.year-range-wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.february-label,
.january-label,
.year-range-wrapper {
  display: flex;
  align-items: flex-start;
}
.february-label {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.january-label {
  width: 315px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.year-container {
  height: 32px;
  width: 132px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 16px);
  right: 4px;
  border-radius: var(--br-19xl);
  background-color: var(--color-lightsteelblue);
}
.div10 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 25px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 129px;
  white-space: nowrap;
  z-index: 1;
}
.year-label {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-19xl);
  background-color: var(--color-gainsboro);
  z-index: 2;
}
.months-display {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-9xs) var(--padding-base) 10px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.div11 {
  position: absolute;
  top: 7px;
  left: 55px;
  display: inline-block;
  width: 130px;
  height: 21px;
  z-index: 1;
}
.frame-child6,
.frame-child7 {
  position: absolute;
  top: 7px;
  left: 10px;
  border-radius: var(--br-19xl);
  background-color: var(--color-lavender);
  width: 132px;
  height: 32px;
}
.frame-child7 {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 152px;
  height: 46px;
}
.parent2 {
  align-self: stretch;
  height: 46px;
  position: relative;
}
.months-display-parent,
.months-view {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
}
.months-view {
  display: flex;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.months-display-parent {
  gap: 13px;
}
.months-container,
.months-container-wrapper,
.months-display-parent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.months-container {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.months-container-wrapper {
  width: 702px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.frame-header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 79px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-child8 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-19xl);
  background-color: var(--color-lavender);
}
.div12 {
  height: 50px;
  position: relative;
  display: inline-block;
  min-width: 89px;
  z-index: 1;
}
.frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-14xl) 0 var(--padding-15xl);
}
.quarter-container-inner,
.rectangle-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle-parent2 {
  align-self: stretch;
  height: 176px;
  justify-content: flex-start;
}
.quarter-container-inner {
  flex: 0.9017;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) 10.8px 0;
  box-sizing: border-box;
  min-width: 170px;
  max-width: 173px;
}
.div13,
.frame-child9 {
  flex: 1;
  position: relative;
}
.frame-child9 {
  align-self: stretch;
  border-radius: var(--br-19xl);
  background-color: var(--color-lavender);
}
.div13 {
  height: 36px;
  display: inline-block;
  z-index: 1;
}
.wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 var(--padding-15xl);
}
.quarter-container-child,
.rectangle-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle-parent3 {
  align-self: stretch;
  height: 207px;
  justify-content: flex-start;
}
.quarter-container-child {
  flex: 0.9017;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) 24.8px 0;
  box-sizing: border-box;
  min-width: 170px;
  max-width: 173px;
}
.frame-child10 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-19xl);
  background-color: var(--color-lavender);
}
.div14 {
  height: 52px;
  width: 100px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-base);
}
.quarter-container-inner1,
.rectangle-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle-parent4 {
  align-self: stretch;
  height: 303px;
  justify-content: flex-start;
}
.quarter-container-inner1 {
  flex: 0.9017;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) 8.8px 0;
  box-sizing: border-box;
  min-width: 170px;
  max-width: 173px;
}
.frame-child11 {
  width: 156px;
  height: 199px;
  position: relative;
  border-radius: var(--br-19xl);
  background-color: var(--color-lavender);
}
.div15 {
  height: 46.3px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.month-container,
.rectangle-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.month-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 39px;
}
.rectangle-parent5 {
  flex: 1;
  flex-direction: column;
  gap: 13.5px;
  min-width: 170px;
  max-width: 173px;
}
.div16,
.frame-child12 {
  flex: 1;
  position: relative;
}
.frame-child12 {
  width: 156px;
  border-radius: var(--br-19xl);
  background-color: var(--color-lightsteelblue);
}
.div16 {
  height: 39px;
  display: inline-block;
  z-index: 1;
}
.wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-14xl);
}
.quarter-container-inner2,
.rectangle-parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle-parent6 {
  align-self: stretch;
  height: 349px;
  justify-content: flex-start;
}
.quarter-container-inner2 {
  flex: 0.9711;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 21.8px 0;
  box-sizing: border-box;
  min-width: 170px;
  max-width: 173px;
}
.div17,
.frame-child13 {
  flex: 1;
  position: relative;
}
.frame-child13 {
  width: 156px;
  border-radius: var(--br-19xl);
  background-color: var(--color-lavender);
}
.div17 {
  height: 38px;
  display: inline-block;
  z-index: 1;
}
.wrapper4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 31px;
}
.quarter-container-inner3,
.rectangle-parent7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle-parent7 {
  align-self: stretch;
  height: 315px;
  justify-content: flex-start;
}
.quarter-container-inner3 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 22.8px;
  box-sizing: border-box;
  min-width: 168px;
  max-width: 171px;
}
.quarter-container {
  width: 1126px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 18px;
  max-width: 100%;
}
.quarter-container-wrapper {
  width: 1374px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.home,
.sunday-label,
.weekend-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.weekend-container {
  align-self: stretch;
  flex-direction: column;
  gap: 161px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.home,
.sunday-label {
  box-sizing: border-box;
}
.sunday-label {
  flex: 1;
  flex-direction: column;
  padding: 43px 0 0;
  min-width: 947px;
  max-width: 100%;
}
.home {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 0;
  gap: 84px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1525px) {
  .home {
    flex-wrap: wrap;
    padding-left: var(--padding-smi);
    padding-top: var(--padding-smi);
    padding-bottom: var(--padding-smi);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1225px) {
  .quarter-container {
    flex-wrap: wrap;
  }
  .weekend-container {
    gap: 80px 161px;
  }
  .sunday-label {
    min-width: 100%;
  }
  .home {
    gap: 84px 42px;
  }
}
@media screen and (max-width: 850px) {
  .anesi,
  .div,
  .div1,
  .div2,
  .div3 {
    font-size: var(--font-size-19xl);
  }
  .frame-wrapper {
    padding-bottom: 135px;
    box-sizing: border-box;
  }
  .div4,
  .div5 {
    font-size: var(--font-size-19xl);
  }
  .frame-header {
    gap: 39px 79px;
  }
  .div12,
  .div13,
  .div14,
  .div15,
  .div16,
  .div17 {
    font-size: var(--font-size-19xl);
  }
  .weekend-container {
    gap: 40px 161px;
  }
  .sunday-label {
    padding-top: 28px;
    box-sizing: border-box;
  }
  .home {
    gap: 84px 21px;
  }
}
@media screen and (max-width: 450px) {
  .anesi,
  .div,
  .div1,
  .div2,
  .div3,
  .div4,
  .div5 {
    font-size: var(--font-size-10xl);
  }
  .rectangle-parent {
    gap: 48px 97px;
  }
  .frame-header {
    gap: 20px 79px;
  }
  .div12 {
    font-size: var(--font-size-10xl);
  }
  .quarter-container-inner {
    flex: 1;
  }
  .div13 {
    font-size: var(--font-size-10xl);
  }
  .quarter-container-child {
    flex: 1;
  }
  .div14 {
    font-size: var(--font-size-10xl);
  }
  .quarter-container-inner1 {
    flex: 1;
  }
  .div15,
  .div16 {
    font-size: var(--font-size-10xl);
  }
  .quarter-container-inner2 {
    flex: 1;
  }
  .div17 {
    font-size: var(--font-size-10xl);
  }
  .weekend-container {
    gap: 20px 161px;
  }
  .sunday-label {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
}

